@mixin img-maintenance($ratio) {
  position: relative;
  overflow: hidden;
  &::before{
    content:'';
    display:block;
    width:100%;
    height:0;
    padding-top: $ratio#{'%'};
  }
  >.img-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@mixin key-visual($height){
  background-size: cover;
  height: $height;
  background-position: center;
  // @include overlay(.5);
}
@mixin center-vertical($ratio) {
  position: absolute;
  top: $ratio;
  transform: translateY(-$ratio);
}
@mixin transition($speed){
  transition-property: all;
  transition-duration: $speed;
}
@mixin box-shadow($horizontal,$vertical,$blur,$spread,$alpha){
  box-shadow:$horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
}
@mixin box-shadow-inset($horizontal,$vertical,$blur,$spread,$alpha){
  box-shadow:$horizontal $vertical $blur $spread rgba(0,0,0,$alpha) inset;
}
@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}
@mixin overlay($opacity) {
  position: relative;
  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(0,0,0,$opacity);
  }
}
